.firstTaskdiv {
    width: 600px;
    height: 105px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px;
    padding-top: 5px;
    border: solid 10px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left-color: #043F8C;
    background-color: #f9f9f9;
}

.titleAndDate {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.descriptionAndDelete {
    display: flex;
    justify-content: space-between;
    gap: 200px;

}

.dayTask 
{
    margin-top: 21px;
}

.iconDelete 
{
margin: auto;
}

.descriptionTask
{
    margin-bottom: 1px;
    margin-top: 2px;
    font-size: 12px;
}

