#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  justify-content: right;
  text-align: center;
}
body
.task{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 40px;
  width: 600px;
  border-left: 10px solid;
  
}
.tasks{
  display: grid;
  gap: 20px;
}
.App{
  display: grid;
  gap: 20px;
}
.titre{
  text-align: left;
}
.MaDate{
  padding-right: 40px;
  text-align: right;
}
.MonButtonSup{
  padding-right: 40px;
  text-align: right;
}